<a href="https://colab.research.google.com/github/tomyg151/Data_Intro_Course_Python/blob/main/2.4%20-%20DataFrame%20-%20%D7%9E%D7%99%D7%95%D7%9F%20%D7%95%D7%A9%D7%9C%D7%99%D7%A4%D7%94%20%D7%91%D7%A1%D7%99%D7%A1%D7%99%D7%99%D7%9D%20%2B%20%D7%90%D7%99%D7%A0%D7%93%D7%A7%D7%A1%D7%99%D7%9D%20%D7%9C%D7%95%D7%92%D7%99%D7%99%D7%9D%20-%20logical%20indexing%20-%20%D7%97%D7%9C%D7%A7%20%D7%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.4 - DataFrame - מיון ושליפה בסיסיים + אינדקסים לוגיים - logical indexing - חלק א

In [1]:
import pandas as pd

In [2]:
url = 'https://s3.eu-west-1.amazonaws.com/data.cyber.org.il/virtual_courses/introdata/colab/artists.csv'
artist = pd.read_csv(url, sep=None, engine='python')

SORT_VALUES מיון טבלה על פי

In [5]:
artist_by_popularity = artist.sort_values(['popularity','followers'], ascending = False)

In [6]:
artist_by_popularity.head()

,id,followers,genres,name,popularity
144481,1uNFoZAHBGtllmzznpCI3s,44606973.0,"['canadian pop', 'pop', 'post-teen pop']",Justin Bieber,100
313676,3TVXtAsR1Inumwj472S9r4,54416812.0,"['canadian hip hop', 'canadian pop', 'hip hop'...",Drake,98
126338,06HL4z0CvFAxyc27GXpf02,38869193.0,"['pop', 'post-teen pop']",Taylor Swift,98
115489,4q3ewBCX7sLwd24euuV69X,32244734.0,"['latin', 'reggaeton', 'trap latino']",Bad Bunny,98
144484,3Nrfpe0tUJi4K4DXYWgMUX,31623813.0,"['k-pop', 'k-pop boy group']",BTS,96

In [7]:
artist_by_popularity.tail()

,id,followers,genres,name,popularity
444798,0BuknWzKujyc9HfZ1V50Uk,NaN,[],Duck Doja,0
446635,6ltU5gIDLmWNYaVNHnll5G,NaN,['mexican electronic'],Zofa,0
446637,41c30F8zy5UCTSevbn0WfD,NaN,['mexican electronic'],Broadband Star,0
468527,7aMdHPv79qOuqqBD6TnaCp,NaN,[],"Miles Davis & Charlie ""Bird"" Parker",0
468530,4EqqnE0XMAcreVF84QGYJ0,NaN,[],Robert Steven Williams,0

שליפת נתונים מהטבלה

In [9]:
artist_by_popularity.iloc[10:20,:]

,id,followers,genres,name,popularity
115491,7iK8PXO48WeuP03g8YR51W,5001808.0,['trap latino'],Myke Towers,95
144488,7dGJo4pcD2V6oG8kP0tJRR,43747833.0,"['detroit hip hop', 'hip hop', 'rap']",Eminem,94
313813,0Y5tJX1MQlPlqiwlOH1tJY,16118616.0,"['rap', 'slap house']",Travis Scott,94
145802,246dkjvS1zLTtiykXe5h60,32167665.0,"['dfw rap', 'melodic rap', 'rap']",Post Malone,93
144490,0du5cEVh5yTK9QJze8zA0C,29899101.0,"['dance pop', 'pop', 'post-teen pop']",Bruno Mars,93
126409,1i8SpTcr7yvPOmcqrbnVXY,27772492.0,"['latin', 'puerto rican pop', 'reggaeton', 'tr...",Ozuna,93
313701,5f7VJjfbwm532GiveGC0ZK,6789005.0,"['atl hip hop', 'atl trap', 'rap', 'trap']",Lil Baby,93
117022,4r63FhuTkUYltbVAg5TQnk,6485079.0,"['north carolina hip hop', 'rap']",DaBaby,93
144489,1mcTU81TzQhprhouKaTkpq,4438013.0,"['puerto rican pop', 'trap latino']",Rauw Alejandro,93
144138,6eUKZXaKkcviH0Ku9w2n3V,78900234.0,"['pop', 'uk pop']",Ed Sheeran,92

In [11]:
artist_by_popularity[['name','popularity','followers']]

                                       name  popularity   followers
144481                        Justin Bieber         100  44606973.0
313676                                Drake          98  54416812.0
126338                         Taylor Swift          98  38869193.0
115489                            Bad Bunny          98  32244734.0
144484                                  BTS          96  31623813.0
...                                     ...         ...         ...
444798                            Duck Doja           0         NaN
446635                                 Zofa           0         NaN
446637                       Broadband Star           0         NaN
468527  Miles Davis & Charlie "Bird" Parker           0         NaN
468530               Robert Steven Williams           0         NaN

[1104349 rows x 3 columns]

In [13]:
artist_by_popularity.loc[:,['name','popularity','followers']]

                                       name  popularity   followers
144481                        Justin Bieber         100  44606973.0
313676                                Drake          98  54416812.0
126338                         Taylor Swift          98  38869193.0
115489                            Bad Bunny          98  32244734.0
144484                                  BTS          96  31623813.0
...                                     ...         ...         ...
444798                            Duck Doja           0         NaN
446635                                 Zofa           0         NaN
446637                       Broadband Star           0         NaN
468527  Miles Davis & Charlie "Bird" Parker           0         NaN
468530               Robert Steven Williams           0         NaN

[1104349 rows x 3 columns]

In [15]:
artist.columns

Index(['id', 'followers', 'genres', 'name', 'popularity'], dtype='object')

In [16]:
artist_by_popularity.iloc[:,[3,4,1]]

                                       name  popularity   followers
144481                        Justin Bieber         100  44606973.0
313676                                Drake          98  54416812.0
126338                         Taylor Swift          98  38869193.0
115489                            Bad Bunny          98  32244734.0
144484                                  BTS          96  31623813.0
...                                     ...         ...         ...
444798                            Duck Doja           0         NaN
446635                                 Zofa           0         NaN
446637                       Broadband Star           0         NaN
468527  Miles Davis & Charlie "Bird" Parker           0         NaN
468530               Robert Steven Williams           0         NaN

[1104349 rows x 3 columns]

In [17]:
artist_by_popularity.iloc[10:20,[3,4,1]]

                  name  popularity   followers
115491     Myke Towers          95   5001808.0
144488          Eminem          94  43747833.0
313813    Travis Scott          94  16118616.0
145802     Post Malone          93  32167665.0
144490      Bruno Mars          93  29899101.0
126409           Ozuna          93  27772492.0
313701        Lil Baby          93   6789005.0
117022          DaBaby          93   6485079.0
144489  Rauw Alejandro          93   4438013.0
144138      Ed Sheeran          92  78900234.0

In [21]:
artist_by_popularity[['name','popularity','followers']].iloc[:10,:]

                 name  popularity   followers
144481  Justin Bieber         100  44606973.0
313676          Drake          98  54416812.0
126338   Taylor Swift          98  38869193.0
115489      Bad Bunny          98  32244734.0
144484            BTS          96  31623813.0
144483     The Weeknd          96  31308207.0
115490     Juice WRLD          96  16996777.0
144485  Ariana Grande          95  61301006.0
144486       J Balvin          95  27286822.0
144487       Dua Lipa          95  24123468.0